@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary: #1aac83;
}

html,
body,
#root {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(237, 237, 237);
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

.quiz-title {
  font-weight: bold;
  margin: 0;
  font-size: 3em;
}

.home-link {
  margin: 0;
  margin-left: 0.8em;
  text-decoration: none;
  color: black;
}

.quiz-title:hover {
  color: black;
}

.auth-link {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  margin-right: 1em;
  color: var(--primary);
}

.auth-link:hover {
  color: black;
}

.btn {
  cursor: pointer;
  font-family: "Poppins";
  text-decoration: none;
  padding: 0.1em 0.8em;
  font-weight: 600;
  background-color: transparent;
  font-size: 1.2em;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn:hover {
  background-color: var(--primary);
  color: white;
}

.auth-div {
  display: flex;
  align-items: center;
}
.email-p {
  margin: 0 1em 0 0;
  font-size: 1.1em;
}

.error-msg {
  width: 100%;
  margin-top: 1em;
  display: flex;
  align-items: center;
  background-color: #ffbaba;
  border: 1px solid;
  color: #d8000c;
}

.error-msg > p {
  margin: 0 0 0 0.5em;
}

.error-img {
  margin: 0.2em;
  width: 2em;
}

.nav-ul {
  display: block;
  padding: 0;
  margin: 0;
}
.nav-li {
  text-align: center;
  border: 1px solid transparent;
  display: block;
  padding: 0 0.2em;
  margin: 1em auto;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 500;
}
.nav-li:hover {
  font-weight: 600;
}

.profile-container {
  margin: 2em;
  height: 100%;
}

.grid-container {
  height: 100%;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    "a b"
    "a b"
    "a b"
    "a b"
    "a b"
    "a b";
}

.nav-container {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}

.profile-display {
  grid-area: b;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.delete-account {
  font-weight: 500;
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin: 0 !important;
  font-size: 1.2em;
  color: #d8000c;
}

.delete-account:hover {
  background-color: #ffbaba;
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
}

.delete-modal {
  z-index: 999;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: 35%;
  width: 35%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.check-answers-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5em 1em;
}

.delete-account-modal {
  font-weight: 500;
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin: 0 !important;
  font-size: 1.2em;
  color: #d8000c;
  background-color: #ffbaba;
  border-bottom: 2px solid #d8000c;
}

.send-quiz-div {
  margin: 0.5em 1em;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary);
}

.x {
  width: 20px;
  height: 20px;
  cursor: pointer !important;
}
.send-quiz-modal {
  font-weight: 500;
  list-style: none;
  text-align: center;
  margin: 0 !important;
  font-size: 1.2em;
  color: var(--primary);
  background-color: white;
}

.delete-account-text {
  margin: 2em;
}

.delete-btn {
  align-self: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2em;
  background-color: #ffbaba;
  color: #d8000c;
  border: 2px solid #d8000c;
  padding: 0.4em 1em;
  font-weight: 500;
}

.update-profile-display {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1em;
  border-radius: 20px;
  background-color: white;
  padding: 1em;
  grid-area: b;
}

.update-profile-form {
  width: 100%;
}

.profile-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.update-submit {
  text-align: center;
  width: 100%;
}

.update-submit {
  text-align: center;
  width: 100%;
}

.each-quiz {
  background-color: white;
  box-shadow: 4px 4px 4px var(--primary);
  margin: 2em;
  padding: 1em;
  border-radius: 20px;
}

.question-num {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.question-num-p {
  margin: 0 1em 0 0;
  font-weight: 600;
}

.category {
  font-weight: 600;
  color: var(--primary);
  margin-right: 0.3em;
}
.category-name {
  margin: 0;
}

.question {
  font-weight: 500;
  font-size: 1.1em;
  margin-left: 1em;
}

.true-false-form {
  display: inline-flex !important;
  font-size: 1.2em;
  font-weight: 500;

  flex-direction: column;
  margin-left: 1em;
}
.true-false-div {
  display: flex;
  align-items: center;
}

.boolean-title {
  display: flex;
  align-items: center;
  margin: 0.3em;
}

.radio {
  -webkit-appearance: none;
  font: inherit;
  color: var(--primary);
  width: 0.9em;
  height: 0.9em;
  border: 0.15em solid #1aac83;
  border-radius: 50%;
  margin-right: 0.7em;
  display: grid;
  place-content: center;
}
.radio:checked {
  background-color: #1aac83;
}

.question-error {
  width: 20px;
  margin-right: 1em;
}

.quiz-score {
  background-color: white;
  box-shadow: 4px 4px 4px var(--primary);
  margin: 2em;
  padding: 1em;
  border-radius: 20px;
  
}
